*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: rgb(247, 217, 67);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.App {
  width: 300px;
  min-height: 250px;
  background-color: rgb(54, 36, 14);
  border-radius: 10px;
  border: 2px blueviolet solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2{
  color:white;
  margin-top: 28px;

}
h3{
  color:white;
}