.btn-UI{
    display: flex;
    margin-right: 5px;
}
.btn-complete{
    margin-right: 8px;
    background-color: blue;
    color:#fff;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
    border: 0;
}
.btn-complete:hover{
    cursor: pointer;
    background-color: rgb(36, 36, 227);
}

